/* ================Global CSS======================== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* ================Menu Container=============== */
.menu_bar {
  border: 1px solid gray;
  height: 3rem;
  background-color: lightblue;
  display: flex;
  align-items: center;
}
.menu_bar > *{
    height: 75%;
}

.font_family{
    width: 20%;
    border: none;
    border-right: 1px solid gray;
    /* margin-right: 0.2rem; */
}

.font_size{
    width: 10%;
    border: none;
    border-right: 1px solid gray;
}
.bui_container{
    border-right: 1px solid gray;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.alignment_container{
    border-right: 1px solid gray;
    width: 20%;
     display: flex;
    align-items: center;
    justify-content: space-evenly;

}




/* ===================Formula Container=========== */
.formula_container {
  border: 1px solid gray;
  height: 2rem;
  /* background-color: rgb(235, 224, 220); */
  display: flex;
  align-items: center;
}

.formula_img{
    height: 1.2rem;
}

.address_bar{
    /* height: 1rem; */
    width: 20%;
    text-align:center;
    border: none;
    border-right: 1px solid gray;
    margin-right: 1.5rem;
    outline: none;

}

.formula_bar{
    width: 70%;
    border: none;
    border-left: 1px solid gray;
    margin-left: 1.5rem;
    outline: none;
}




/* ====================Grid Conatiner================ */
/* grid will have remaining height */
.grid_container {
  border: 1px solid gray;
  /* background-color: yellow; */
  height: calc(100vh - 7rem);
  overflow: auto;
  position: relative;
}

.cell {
  border: 1px solid gray;
  height: 1.5rem;
  width: 5rem;
  /* #ACCEF7 */
}

.left_col > * {
  width: 2rem;
  text-align: center;
  padding-top: 0.2rem;
  background-color: lightgray;
}

.top_row {
  display: flex;
  position: absolute;
  top: 0;
  left: 2rem;
  background-color: lightgray;

}

.left_col {
  position: absolute;
  top: 1.4rem;
}

.grid {
  position: absolute;
  left: 2.01rem;
}
.top_row > *,
.row > .cell {
  min-width: 5rem;
  text-align: center;
  padding-top: 0.3rem;
}

.tl_cell {
  height: 1.4rem;
  width: 2rem;
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.row {
  display: flex;
}



/* =========================Sheets Contaainer============ */
.sheets_container {
  height: 2rem;
  /* background-color: lightgray; */
  /* border: 1px solid red; */
  display: flex;
}

.add_sheet {
  height: 2rem;
  width: 2rem;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sheet {
  height: 2rem;
  width: 4rem;
  background-color: lightgray;
  border: 2px solid gray;
  text-align: center;
  padding-top: 0.2rem;
}
